//menu

.menu_list {
    width: 224px;
    .menu_item {
        margin-left: 0 !important;
        color: var(--text-color);
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        border: 0;
        font-weight: 600;
        padding: 11px 16px;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}
